.messages {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
}

.leftCol {
    padding: 10px;
    width: 49%;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
}

.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.rightCol {
    padding: 10px;
    width: 49%;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    display: block;
}

.head {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.write {
    border-radius: 10px;
    margin-top: 30px;
}

.messages h1 {
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.writeMessage {
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}

.writeMessage textarea {
    width: 100%;
    resize: none;
    display: block;
    box-sizing: border-box;
    min-height: 60px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    margin-bottom: 15px;
}

.writeMessage textarea:active,
.writeMessage textarea:focus {
    outline: none;
}

.writeMessage button {
    position: absolute;
    right: 0;
    width: 100px;
    background-color: transparent;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 17px;
    padding: 7px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.writeMessage button:hover {
    background-color: rgb(240, 240, 240);
}
