.formControl.error textarea,
.formControl.error input {
    border: 1px solid red;
    border-radius: 10px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    width: 98%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: red;
    text-align: center;
}
