.error {
    position: fixed;
    bottom: 95px;
    left: 143px;
    height: 40px;
    width: 187px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
}

.error p {
    font-size: 10px;
    line-height: 4;
    height: 100%;
    text-align: center;
}
