.navigation {
    grid-area: navigation;
}

.navigation ul {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.navigation ul li {
    margin-bottom: 3px;
    cursor: pointer;
    padding: 5px 5px;
    transition: all .2s ease-in-out;
}

.navigation ul li:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.navigation ul li:last-child {
    margin-bottom: 0;
}

.navigation ul li a {
    font-size: 22px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navigation ul li a.active {
    color: rgb(6, 150, 255);
}

.navigation ul li a img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.friendsBlock {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.friends a {
    color: black;
}

.friendsBlock h1 {
    text-align: center;
    margin-bottom: 25px;
}
