.profile {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 20px;
    display: flex;
}

.profileLoading {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 20px;
    height: 352px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
}

.info {
    width: 100%;
}

.info h2 {
    padding: 0 0 5px 0;
    text-align: start;
}

.status {
    color: rgb(98, 109, 122);
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-bottom: 30px;
}
