.wrapper {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login,
.password {
    max-width: 140px;
    display: flex;
    text-align: center;
}

.login input {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    text-align: center;
    color: black;
    padding: 5px;
}

.password input {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    text-align: center;
    padding: 5px;
}

.checkbox {
    display: flex;
}

.checkbox label {
    font-size: 15px;
    line-height: 1.4;

}

.checkbox input {
    margin: 0 10px 10px 0;
    border: 1px solid rgb(240, 240, 240);
}

.button button {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
}

.button button:hover {
    background-color: rgb(240, 240, 240);
}
